
.player-names{
    display: flex;
}

.x, .y {
    display: flex;
}

.container{
    display: flex;
    flex-flow: wrap;
    height: 700px;
    width: 700px;
    
}

.square{
    background-color: red;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: solid black 1px;
}